.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color: #fff;
    color: #444;
    border-radius: 10px;
}

.home h1 {
    margin-bottom: 30px;
}